/* Empty. Add your own CSS if you like */
films .rating{
    position: absolute;
    bottom: 4px;
}
films .info{
    height: 85px;
    overflow: hidden;
}

#films h2{
    white-space: normal;
}

#films p{
    white-space: normal;
}

#films img{
    background-size: cover;
    background-origin: center;
}

#filmsDetails .infoRight{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 16px;
    padding-top: 16px;
    text-align: right;
    width: 100px;
    font-style: italic;
}

#filmsDetails .infoRight p:first-of-type{
    font-size: 16px;
    color:black;
    font-style: normal;
    margin-bottom: 25px;
}

#filmsDetails .infoLeft{
    width: calc(100% - 100px);
}

#filmsDetails .infoLeft p ,#filmsDetails .infoLeft h2{
white-space: normal;
}

#filmsDetails .infoLeft p:nth-last-of-type(1){
    font-style: italic;
    margin-bottom: 6px;
}
